---
import ServiceCard from '../components/ServiceCard.astro';
import { Image } from 'astro:assets';
import imageBirthday from '../assets/cumpleaños.png';
import imageChat from '../assets/chat.png';
import imageDashboard from '../assets/dashboard.png';
---

<section id="servicios" class="px-8 sm:px-20 mt-20 lg:mt-40">
	<div class="flex flex-col justify-center items-center">
		<h2 class="text-center text-3xl lg:text-4xl font-semibold mb-4">
			Soluciones personalizadas para cada tipo de <span
				class="text-puerto-rico-600">veterinaria</span
			>
		</h2>
		<p
			class="text-lg lg:text-2xl lg:max-w-6xl text-center xl:px-32 2xl:px-48"
		>
			En Wofy, entendemos que cada veterinaria es única. Por eso,
			ofrecemos soluciones personalizadas que se adaptan a las necesidades
			específicas de tu clínica y te acompañamos mientras creces.
		</p>
	</div>

	<div
		class="mt-5 flex lg:hidden p-2 md:p-12 overflow-auto lg:w-full lg:flex-wrap no-scrollbar"
	>
		<div class="flex flex-row gap-2">
			<ServiceCard class="px-8 py-5 mr-4 lg:w-200">
				<Image
					class="w-max md:w-112.5 lg:w-150"
					src={imageDashboard}
					alt="Veterinaria"
				/>
				<div class="text-left mt-2">
					<h1 class="text-xl font-bold">
						El centro de control para dueños de veterinarias
					</h1>
					<p class="mt-2">
						Es el momento de crecer tu negocio mediante analítica en
						tiempo real y exacta.
					</p>
				</div>
			</ServiceCard>
			<ServiceCard class="px-8 py-5 mr-4">
				<Image
					class="w-70 md:w-95 lg:w-150"
					src={imageBirthday}
					alt="Veterinaria"
				/>
				<div class="text-left mt-2">
					<h1 class="text-xl font-bold">
						Crea relaciones duraderas con tus clientes
					</h1>
					<p class="mt-2">
						Envía mensajes personalizados en diás especiales o
						cumpleaños.
					</p>
				</div>
			</ServiceCard>
			<ServiceCard class="px-8 py-5">
				<Image
					class="w-60 md:w-95 lg:w-125"
					src={imageChat}
					alt="Veterinaria"
				/>
				<div class="text-left mt-5">
					<h1 class="text-2xl font-bold">
						Atencion al cliente optimizada
					</h1>
					<p class="mt-2">
						Usa IA para responder más rápido y liberar tiempo a tu
						equipo.
					</p>
				</div>
			</ServiceCard>
		</div>
	</div>

	<div class="hidden mt-5 lg:flex p-12 max-w-full 2xl:px-36">
		<div class="flex flex-row flex-wrap max-w-full gap-y-4 gap-x-2">
			<ServiceCard
				class="lg:flex-row lg:gap-x-10 px-8 xl:px-12 py-5 mr-4 lg:h-137.5 lg:w-230 xl:w-300 grow"
			>
				<Image
					class="w-70 md:w-112.5 lg:w-100 xl:w-180"
					src={imageDashboard}
					alt="Veterinaria"
				/>
				<div class="text-left mt-10">
					<h1 class="text-4xl font-bold">
						El centro de control para dueños de veterinarias
					</h1>
					<p class="text-xl mt-2">
						Es el momento de crecer tu negocio mediante analítica en
						tiempo real y exacta.
					</p>
				</div>
			</ServiceCard>
			<ServiceCard class="px-8 py-5 mr-4 flex-1">
				<Image
					class="w-70 md:w-95 lg:w-100"
					src={imageBirthday}
					alt="Veterinaria"
				/>
				<div class="text-left mt-10">
					<h1 class="text-4xl font-bold">
						Crea relaciones duraderas con tus clientes
					</h1>
					<p class="text-xl mt-2">
						Es el momento de crecer tu negocio mediante analítica en
						tiempo real y exacta.
					</p>
				</div>
			</ServiceCard>
			<ServiceCard class="px-8 py-5 mr-4 lg:max-w-107.5">
				<Image
					class="w-45 md:w-95 lg:w-125"
					src={imageChat}
					alt="Veterinaria"
				/>
				<div class="text-left mt-10">
					<h1 class="text-4xl font-bold">
						Atencion al cliente optimizada
					</h1>
					<p class="text-xl mt-2">
						Utiliza IA para mejorar la experiencia de tus clientes,
						brindando respuestas rápidas y liberando tiempo para tu
						equipo.
					</p>
				</div>
			</ServiceCard>
		</div>
	</div>
</section>
